
services:
  frontend:
    build:
      context: .
      dockerfile: ./docker/Frontend-Dockerfile
    container_name: frontend
    restart: always
    environment:
      API_ENDPOINT: http://backend:8080
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/:/app
    depends_on:
      - backend
  backend:
    build:
      context: .
      dockerfile: ./docker/Backend-Dockerfile
    container_name: backend
    restart: always
    environment:
      DATABASE_URL: postgresql://admin:pass1234@postgres:5432/midcore
    ports:
      - "8080:8080"
    volumes:
      - ./backend/:/app
    depends_on:
      - postgres
  postgres:
    image: postgres
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: pass1234
      POSTGRES_DB: midcore
    ports:
      - "5432:5432"
